* {
    margin: 0;
    padding: 0;
}

.navbar-toggler{
    outline: none !important;
    padding: 0 !important;
}

.navbar-toggler img{
    width: 35px;
}

.navbar-brand{
    color: #4b057a !important;
    width: 110px;
}

.nav-link{
    color: #4b057a !important;
    font-weight: 600;
    margin-left: 30px;
}

.wrapper{
    margin: 50px auto;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 40px 2px rgba(37, 73, 214, 0.18);
}

.feature-box{
    padding: 30px;
}

.feature-box h1{
    margin-left: 10% auto;
    color: rgb(67, 5, 126);
}

.feature-box p{
    margin-top: 50px auto;
    margin-left: 10% auto;
    margin-bottom: 12%;
    color: #555;
}

.feature-box a{
    text-decoration: none !important;
    background-color: #4b057a;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px;
    border: 2px solid #7c0404 !important;
    color: #fff;
}

.btn1:hover{
    color: white;
}

.btn2{
    background: none !important;
    color: #413b3b !important;
}

.feature-img{
    margin-left: 40%;
    margin-top: 3%;
    width: 250px;
    padding: 0;
}

.wave-img{
    width: 100%;
    position: absolute;
    display: block;
    top: 5%;
    z-index: -1;
    opacity: 0.2;
}

@media only screen and (max-width:990px)
{
    .wave-img
    {
        display: none;
    }
    .feature-box a
    {
        padding: 5px 8px;
        margin-right: 10px;
    }
}